<launch>

  <include file="$(find visual_servoing)/launch/zed_tf.launch" />

  <arg name="svo_file" default=""/>

  <group ns="camera/zed">
    <node name="zed_wrapper_node" pkg="zed_wrapper" type="zed_wrapper_node" args="$(arg svo_file)" output="screen">

      <param name="resolution"            value="3" />
      <param name="quality"               value="1" />
      <param name="sensing_mode"          value="1" />
      <param name="frame_rate"            value="30" />

      <param name="left_topic"            value="rgb/image_rect_color" />
      <param name="second_topic"          value="depth_registered/image_raw" />
      <param name="left_cam_info_topic"   value="rgb/camera_info" />
      <param name="second_cam_info_topic" value="depth/camera_info" />
      <param name="left_frame_id"         value="zed_optical_frame" />
      <param name="second_frame_id"       value="zed_optical_frame" />

    </node>
  </group>
</launch>
